# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64

matplotlib=3.3.4=pypi_0
numpy=1.20.0=pypi_0
pandas=1.2.1=pypi_0
pandocfilters=1.4.3=pypi_0
parso=0.8.1=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.1.0=pypi_0
pip=20.3.3=py37haa95532_0
prometheus-client=0.9.0=pypi_0
prompt-toolkit=3.0.14=pypi_0
protobuf=3.14.0=pypi_0
pyarrow=3.0.0=pypi_0
scikit-learn=0.24.1=pypi_0
sklearn=0.0=pypi_0

